/*-- Body Reset --*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #454a50;
}

.top-bar{
    background: #1d1f2cde;
    height: 2.8rem;
    padding: .5rem 0;
}

.top-bar a{
    color:white;
    text-decoration: none;
    font-size: 1.1rem;
}
/*============= NAVIGATION =============*/
.navbar{
    font-size: 1.15rem;
    font-weight: 500;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.1);
    z-index: 1;
}

.nav-item{
    padding: .5rem;
}

.nav-link{
    color: #5b5555!important;
}
.nav-link.active,.nav-link:hover{
    color: #3548b6!important;
}

.carousel-inner img{
    width: 100%;
    height: 80vh;
}

.carousel-caption h1,.carousel-caption h6,.carousel-caption p{
    color:#3548b6;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    width: 100%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
     }

.font-size-5{
    font-size: 1.5rem;
    color:white;
}
#footer{
    padding: 3rem 0;
    background-color: #0b0b0fde;
}

#footer .company .d-flex>a
{
    text-decoration:none;
    font-size:.9rem;
    margin:.3rem 0;
    color:white;
}
#footer .company .d-flex>a:hover{
    color:#3548b6;
}
#footer .contact{
    padding:3rem 0;
    color:white;
}
#footer .contact>.d-flex input.form-control{
    border:none;
    width:200px;
    font-size:1rem;
    margin:.8rem 0;
    background-color:white;
    border-radius:4rem
}
    #footer .contact>.d-flex input.form-control::placeholder{
        font-size:.8rem;
        padding:0 1rem
    }
    #footer .contact>button{
        background-color:#3548b6;
        color:white;
        padding:.3rem 1.5rem;
        border-radius:4rem;
        font-size:.8rem;
        margin:50px;
    }
    #footer .contact>button:hover{
        background-color:grey;
    }

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}